@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Days+One&display=swap");

.header {
  margin-top: 28vh;
  display: flex;
  justify-content: space-between;
  padding: 40px 140px;
  font-family: "Archivo", sans-serif;

  .right {
    z-index: 1;
    .video {
      width: 125px;
      height: 125px;
      background-color: #10d0a1;
      position: absolute;
      bottom: 60px;
      right: 0;
      border-radius: 100%;
      border: 6px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 16px solid white;
        position: absolute;
        border-radius: 2px;
        transform: rotate(90deg);
      }

      &:hover {
        background-color: #0e63ff;
        cursor: pointer;
      }
    }
    .img {
      width: 600px;
      position: absolute;
      top: 0;
      right: 60px;
      img {
        width: 100%;
        border-radius: 0 0 362px 362px;
      }
    }
    .helpdesk {
      position: absolute;
      top: 40px;
      right: -20px;
      background-color: white;
      padding: 24px 15px 24px 30px;
      border-radius: 5px 0px 0px 5px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      font-weight: 700;

      .icon {
        color: blue;
      }

      .text {
        span {
          color: #8a879f;
        }
      }
    }
  }
  .left {
    h6 {
      color: #0e63ff;
      font-weight: 600;

      line-height: 34px;
      font-size: 17px;
    }
    h1 {
      color: #171151;
      font-size: 62px;
      font-family: "Days One", sans-serif;
      letter-spacing: 1px;
      margin: 30px 0;
    }
    p {
      color: #8a879f;
      line-height: 1.5;
      font-size: 1.3rem;
      margin: 30px 0;
    }
    button {
      background-color: #10d0a1;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 3px;
      padding: 20px 40px;
      font-size: 21px;
    }
  }
}

@media (max-width:1600px) {
  .header{
    .right{
      .img{
        width: 500px;
      }
    }
  }
}

@media (max-width:1450px) {
  .header{
    .right{
      .img{
        width: 450px;
      }
    }
  }
}

@media (max-width:1350px) {
  .header{
    .right{
      .img{
        top: 14vh;

        .helpdesk{
          display: none;
        }
      }
    }
  }
}