nav {
  background-color: #f5f5f55b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;

  .left {
    display: flex;
    align-items: center;
    gap: 7rem;

    .logo {
      width: 250px;

      img {
        width: 100%;
      }
    }

    .links {
      display: flex;
      gap: 3rem;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      color: #8a879f;

      span{
        transition: all .3s ease-in-out;
        &:hover{
          color: black;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;

    .helpdesk {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: 700;

      .icon{
        color: blue ;
      }

      .text{
        span{
          color: #8a879f;
        }
      }

    }
  }
}



.navActive{
  z-index: 12;
  background-color: white;
  box-shadow: rgba(139, 139, 139, 0.15) 10px 1px 10px 1px;
}

@media (max-width:1600px) {
  nav{
    .left{
      .links{
        gap: 2rem;
      }
    }
  }
}