.layout{
    .right{
        width: 100%;
        gap: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        .rightInto{
            .spans{
                display: flex;
                justify-content: start;
                gap: 25px;
                span{
                    font-weight: bold;
                    border-bottom: 2px solid blue;
                }
            }
        }
    }
}