.blogPage {
  padding-bottom: 160px;
  .hedaerSection {
    margin-top: 125px;
    position: relative;
    z-index: -1;

    .img {
      width: 100%;
      height: 500px;
      &::after {
        content: "";
        background-color: rgba(13, 12, 28, 0.237);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    h1 {
      font-size: 55px;
      line-height: 1.2;
      font-weight: 500;
      color: white;
      position: absolute;
      top: 28vh;
      left: 12%;
      z-index: 1;
      font-weight: bold;
    }
  }

  .mainContent {
    padding: 80px 80px 0 80px;
    display: flex;
    justify-content: center;
    gap: 70px;
    .button {
      background-color: #10d0a1;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 3px;
      padding: 13px 30px;
      font-size: 21px;
      margin-top: 20px;
    }
    .boxes {
      display: flex;
      flex-direction: column;
      gap: 70px;
      .blogContent {
        width: 900px;
        .imgBox {
          img {
            width: 100%;
            border-radius: 15px;
          }
        }

        .icons {
          display: flex;
          gap: 60px;
          padding: 40px 0;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            span {
              &:first-child {
                color: blue;
                font-weight: bold;
                font-size: 18px;
                padding-bottom: 6px;
              }
            }

            span {
              &:last-child {
                font-weight: bold;
              }
            }
          }
        }
        h1 {
          color: #171151;
          font-size: 30px;
          padding: 10px 0;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: #10d0a1;
            cursor: pointer;
          }
        }
        p {
          padding: 20px 0;
          font-size: 19px;
        }
        button {
          padding: 18px 50px;
          border: none;
          background-color: #0e63ff;
          color: white;
          border-radius: 5px;
          font-weight: 500;
          font-size: 22px;
        }
      }
    }
    .categories {
      border-radius: 3px;
      border: 1px solid rgba(220, 220, 220, 0.547);
      padding: 40px;
      height: 500px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .category-link {
        color: black;
        text-decoration: none;
      }

      p {
        border: 1px solid rgba(220, 220, 220, 0.547);
        border-radius: 3px;
        padding: 12px;
        width: 300px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1300px) {
  .mainContent{
    display: flex;
    flex-direction: column;
    .blogPage {
      .blogContent {
        padding: 80px 80px 0 80px;
      }
    }
  }
}

// @media (max-width: 1000px) {
//   .blogPage {
//     .blogContent {
//       .imgBox {
//         img {
//           width: 100%;
//         }
//       }
//       h1,
//       p {
//         width: 90%;
//       }

//       h1 {
//         font-size: 25px;
//       }

//       p {
//         padding: 20px 0;
//         font-size: 16px;
//       }

//       button {
//         padding: 14px 40px;
//         font-weight: 400;
//       }

//       padding: 20px 20px 0 20px;
//     }
//   }
// }

@media (max-width: 1000px) {
  .blogPage {
    .hedaerSection {
      }
    }
  
    .mainContent {
      padding: 0;
      margin: 0;
        .boxes {
          padding: 0;
          margin: 0;
        .blogContent{
          width: 100% !important;
          .imgBox {
            
          }
        }
      }
     
    }
  }

  @media (max-width: 600px) {
    .blogPage {
      .hedaerSection {
        }
      }
    
      .mainContent {
        padding: 45px 15px 15px 15px !important;
          .boxes {
          .blogContent{
            width: 100% !important;

            h1{
              font-size: 25px !important;
            }
            .imgBox {
              
            }
          }
        }
       
      }
    }
