.blogPage{
    padding-bottom: 160px;
    .hedaerSection {
      margin-top: 125px;
      position: relative;
      z-index: -1;
  
      .img {
        width: 100%;
        height: 500px;
        &::after {
          content: "";
          background-color: rgba(13, 12, 28, 0.237);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
  
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
      }
  
      h1 {
        font-size: 55px;
        line-height: 1.2;
        font-weight: 500;
        color: white;
        position: absolute;
        top: 28vh;
        left: 12%;
        z-index: 1;
        font-weight: bold;
      }
    }

    .blogContent{
      padding: 130px 130px 0 130px;

      .imgBox{
        img{
          width: 70%;
        }
      }
      
      .icons{
        display: flex;
        gap: 60px;
        padding: 40px 0;
        
        .icon{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;

          span{
            &:first-child{
              color: blue;
              font-weight: bold;
              font-size: 18px;
              padding-bottom: 6px;
            }
          }
          
          span{
            &:last-child{
              font-weight: bold;
            }
          }
        }
      }
      h1 {
        color: #171151;
        font-size: 40px;
        padding: 10px 0;
        transition: all .3s ease-in-out;
        width: 70%;

        &:hover{
          color: #10D0A1;
          cursor: pointer;
        }
      }
      p{
        padding: 40px 0;
        width: 70%;
        font-size: 19px;
      }
      button{
        padding: 18px 50px;
        border: none;
        background-color: #0E63FF;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        font-size: 22px;
      }
    }
}



@media (max-width:1300px) {
  .blogPage{
    .blogContent{
      padding: 80px 80px 0 80px;
    }
  }
}

@media (max-width:1000px) {
  .blogPage{
    .blogContent{
      .imgBox{
        img{
          width: 100%;
        }
      }
      h1,p{
        width: 90%;
      }

      h1{
        font-size: 25px;
      }

      p{
        padding: 20px 0;
        font-size: 16px;
      }

      button{
        padding: 14px 40px;
        font-weight: 400;
      }

      padding: 20px 20px 0 20px;
    }
  }
}

@media (max-width:600px) {
  .blogPage{
    padding-bottom: 50px;
    .blogContent{
      padding-top: 60px;
      .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 15px;
       
      }
    }
    .hedaerSection{
      margin-top: 90px;
      img{
        object-fit: none !important;
        height: 80vh !important;
      }
      h1{
        font-size: 45px;
        left: 5%;
      }
    }
  }
}