.services {
  background-color: #F2F5FA;
  background-image: url("./servicesBg.png");
  padding: 100px 0px 100px 130px;
  .carousel {
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    .box {
      width: calc(100% / 3.6);
      height: 500px;
      display: inline-block;
      background-color: white;
      margin-right: 40px;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
    }

    .box1 {
      &:hover {
        background-color: red;
      }
    }
  }

  .serviceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 140px;
    padding: 40px 140px 40px 0;

    .headerTitle{
      h5{
        color: #0e63ff;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
      h1{
        color: #171151;
        font-size: 45px;
        padding: 10px 0;
        font-family: "Days One",sans-serif;
      }
    }

    .arrowIcons {
      display: flex;
      gap: 25px;

      span {
        display: inline-block;
        border: 1px solid rgba(128, 128, 128, 0.496);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

@media (max-width:1300px) {
  .services{
    .carousel{
      .box{
        width: calc(100% / 2.5);
      }
    }
  }
}

@media (max-width:1000px) {
  .services{
    padding: 100px 80px;
    .carousel{
      .box{
        width: calc(100% / 2);
      }
    }
    .serviceHeader{
      padding-right: 0px;
    }
  }
}

@media (max-width:800px) {
  .services{
    padding: 50px 20px 100px 20px;
    .carousel{
      .box{
        width: 100%;
      }
    }
    .serviceHeader{
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;

      h1{
        padding: 10px 0;
        font-size: 35px !important;
      }

      h5{
        font-size: 18px;
      }
    }
  }
}