@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Days+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Archivo",sans-serif;
}
